body {
	margin: 0;
	padding: 0;
	background: url(../img/bg.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

.loginbox {
	width: 320px;
	height: 420px;
	background: rgba(0,0,0, 0.5);
	border-radius: 10%;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
.loginbox label {
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.loginbox input {
	width: 100%;
	margin-bottom: 20px;
}
.loginbox input[type = "email"], [type = "password"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.loginbox input[type = "submit"] {
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}
.loginbox input[type = "submit"]:hover {
	cursor: pointer;
	background: #ffc107;
	color: #000;
}
.loginbox a {
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgray;
}
.loginbox a:hover {
	color: #ffc107;
}

.avatar {
	width: 100px;
	height: 100px;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

h1 {
	margin: 0;
	padding: 0 0 20px;
	font-size: 26px;
	text-align: center;
}
